:root {
 --purpleGradient: linear-gradient(0deg, #614385, #516395); 
 --lightPurple: #516395;
 --warmPurple:  #614385;
}

header {
    /* background: linear-gradient(0deg, rgba(63,94,251,0.6449930313922444) 14%, rgba(21,12,79,0.6561975131849616) 54%); */
    background: var(--purpleGradient);
    padding: 1rem;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    height: 3rem;
  }
  .input-group-text {
    height: 3rem;
  }

.input-group .md-form .form-sm .form-2 .pl-0 {
    height: 3rem;
}

.card {
  background: var(--purpleGradient);
  border-radius: 1rem;
}

#formContainer {
  height: 3rem;
}

.city-buttons {
  background: var(--lightPurple);
  border-radius: 1rem;
}

.city-buttons:hover {
  background: var(--warmPurple);
  box-shadow: 0 0.4rem 1.4rem 0 var(--warmPurple);
}

.search-button{
  background: var(--warmPurple);
}

.search-button:hover {
  filter: brightness(150%);
}